<h1>Add a new Client</h1>

<form action="/client" method="post">
  <label for="name">Clients Name</label>
  <input id="name" name="name" type="text" required>
  <br>
  <label for="detail">Clients Details</label>
  <input id="detail" name="detail" type="text" required>

  <button type="Submit" class="btn btn-success">Add new Client!</button>
  <hr>
</form>
