<h1>Here are all Clients for $stylist.getStylistName()</h1>
<div class="jumbotron">
#if ($clients)
  <ul>
    #foreach ($client in $clients)
      <li>$client.getClientName()</li>
    #end
  </ul>
#else
  <p>No Clients!</p>
#end
<br>
</div>
<p><a class="headerLink" href="/">Back To Welcome Page</a></p>
