<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Hair Salon Webpage!</h1>
  </div>
  <div class="jumbotron">
    <a href="/stylist/new"><h3>Add a new Stylist</h3></a>
    <hr>
    <a href="/stylists"><h3>View all Stylists</h3></a>
    <hr>
  </div>
</div>
