<h1>Add a new Stylist</h1>

<form action="/stylist" method="post">
  <label for="name">Stylist's Name</label>
  <input id="name" name="name" type="text" required>
  <br>
  <label for="detail">Stylist's Details</label>
  <input id="detail" name="detail" type="text" required>

  <button type="Submit" class="btn btn-success">Add new Stylist!</button>
  <hr>
</form>
